@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding: 80px;
    /* margin-top: 30px; */

    font-family:"Zain", sans-serif ;
}

/* body {
    padding-top: 10vh;
} */

nav {
    border: 2px solid black;
    background-color: black;

    height: 80px;
    width: 100%;
    position: fixed;

    /* font-family:"Zain", sans-serif ; */

    display: flex;

    padding: 0 10%;
    
}

a{
    text-decoration: none;
}

.box {
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    overflow: auto;
}

#my_portfolio {
    font-weight: bold;
    font-size: 30px;
    width: 40%;
    justify-content: left;
}

main{
    padding-top: 80px;
    height: 100vh;
}

#welcome{
    background-image: url("https://images.pexels.com/photos/1089440/pexels-photo-1089440.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;   
    
    color: rgb(185, 57, 57);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center ;
}

h1{
    text-shadow: 3px 3px white;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 5px;
}

#intro{
    font-size: 30px;
}

#ghub{
    border: 2px solid rgb(185, 57, 57);
    background-color: rgb(185, 57, 57);
    color: white;
    border-radius: 15px;
    padding: 0 10px;
}




