@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding: 80px;

    font-family:"Zain", sans-serif ;

    background-color: rgb(255, 235, 210);

    color: rgb(185, 57, 57);    
}

a{
    text-decoration: none;
    color: rgb(185, 57, 57);
}

/* -------------------------Nav Bar----------------------------- */

nav {
    border: 2px solid black;
    background-color: black;

    height: 80px;
    width: 100%;
    position: fixed;
    padding: 0 10%;

    display: flex;

    z-index: 100;

    overflow-y: scroll;
    scrollbar-width: none;
}

.nav {
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 5px;
    
}

.nav:hover{
    color:  rgb(185, 57, 57);
    text-shadow: 
        0px 1px 1px rgb(255, 255, 255), /* Closest shadow */
        0px 5px 10px rgb(255, 255, 255), /* Mid shadow */
        0px 10px 20px rgb(255, 255, 255); /* Farthest shadow */
}

#my_portfolio {
    font-weight: bold;
    font-size: 30px;
    width: 40%;
    justify-content: left;
    white-space: nowrap;
    padding-right: 10px;
}

/* -------------------------Front Page----------------------------- */

main{
    padding-top: 80px;
    height: 100vh;
}

#welcome{
    background-image: url("https://images.pexels.com/photos/1714205/pexels-photo-1714205.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center ;
}

h1{
    text-shadow: 3px 3px white;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 5px;
}

#intro{
    font-size: 30px;
}

#ghub{
    background-color: rgb(185, 57, 57);
    color: white;
    border-radius: 15px;
    padding: 2px 12px;
}

#ghub:hover{
    background-color: white;
    color: rgb(185, 57, 57);
}

/* -------------------------Section Settings----------------------------- */

.section{
    display: flex;

    padding: 5% 10%;
}

.subheadings{
    font-size: 32px;
    text-align: center;
    flex: 1 1 100%;
    margin-bottom: 10px;

    text-transform: capitalize;
}

/* -----------------------About Me------------------------------- */

#about{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center ;
}

#img2{
    background-image: url("https://images.pexels.com/photos/18069157/pexels-photo-18069157.png");
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin: 0 5%;

    transition-duration: 1s;
}

#img2:hover{
    transform: scale(1.5, 1.5);
}

.p_about{
    flex: 2 1 30%;
    text-align: justify;
    padding: 5% 0;
    min-width: 300px;
}

.p_about::first-letter{
    font-size: 2em;
}

/* -------------------------Skills----------------------------- */

#skills{
    flex-direction: column;
}

.h_skills{
    font-weight: 300;
    font-size: 14px;
}

.bar{
    background-color: white;
    height: 16px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.fill{
    position: relative;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(185, 57, 57);
}

#html{
        width: 90%;
}

#css{
        width: 75%;
}

#js{
        width: 10%;
}

#rd{
    width: 50%;
}

/* -------------------------Services----------------------------- */

#services{
    flex-direction: column;
}

.g_serv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.b_serv{
    padding: 30px 30px;
        
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;
}

.p_serv{
    line-height: 1;
}

/* --------------------------Portfolio / My Work---------------------------- */

#portfolio{
    flex-direction: column;
}

.g_port{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.b_port{
    padding: 30px 30px;
    margin: 0 auto;
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;    
}

.b_port:hover{
    box-shadow: 5px 5px 15px rgba(3, 0, 0, 0.3);
}

.p_port{
    line-height: 1;}

.projectimg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 2/1;
    min-width: 150px;
}

/* ---------------------------Testimonies--------------------------- */

#testi{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center ;
    flex-direction: column;
    gap: 20px;
    padding: 5% 25%;
}

.t_box{
    padding: 8px 30px;
    flex: 1 1 100%;
    width: 100%;
    min-width: 300px;

    border-left: 4px solid rgb(185, 57, 57);
    background-color: white;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;
    height: 10px;
}

/* --------------------------Contact---------------------------- */

#contact{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center ;
    flex-direction: column;
    padding: 5% 25%;
}

.c_box{
    text-transform: capitalize;

    display: flex;
    flex-direction: column;
    gap: 10px;

    flex: 1 1 100%;
    padding: 30px 30px;
    width: 100%; 
    min-width: 300px;

    border-radius: 10px;
    border-width: 1px;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;

    height: 10px;
}

.c_input{
    border-radius: 4px;
    border: 1px solid rgb(186, 186, 186);
    padding-left:10px ;
    width: 100%;
    height: 30px;
}

#send{
    background-color: rgb(185, 57, 57);
    color: white;
    border-radius: 15px;
    width: 120px;
    padding: 0 10px;
}

#msg{
    height: 100px;
    border-radius: 4px;
    padding: 10px 10px;
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    scroll-behavior: auto;
}

/* ------------------------Footer------------------------------ */

footer{
    background-color: black;
    height: 80px;

    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center ;  

    text-align: center;

    color: white;
}

#cr{
    flex-basis: 100%
}

.or{
    margin: 0 10px;
}

/* ------------------------------------------------------ */