@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding: 80px;
    /* margin-top: 30px; */

    font-family:"Zain", sans-serif ;

    background-color: rgb(255, 235, 210);
}

/* body {
    padding-top: 10vh;
} */

nav {
    border: 2px solid black;
    background-color: black;

    height: 80px;
    width: 100%;
    position: fixed;

    /* font-family:"Zain", sans-serif ; */

    display: flex;

    padding: 0 10%;
    
    z-index: 100;
}

a{
    text-decoration: none;
    color: rgb(185, 57, 57);
}

.box {
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    overflow: auto;
}

#my_portfolio {
    font-weight: bold;
    font-size: 30px;
    width: 40%;
    justify-content: left;
}

/* ------------------------------------------------------ */

main{
    padding-top: 80px;
    height: 100vh;
    color: rgb(185, 57, 57) ;
}

#welcome{
    background-image: url("https://images.pexels.com/photos/1714205/pexels-photo-1714205.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    
    color: rgb(185, 57, 57);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center ;
}

h1{
    text-shadow: 3px 3px white;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 5px;
}

#intro{
    font-size: 30px;
}

#ghub{
    background-color: rgb(185, 57, 57);
    color: white;
    border-radius: 15px;
    padding: 2px 12px;
}

/* ------------------------------------------------------ */

.section{
    display: flex;
    /* flex-direction: column; */
 
    padding: 5% 10%;
}

#about{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center ;
}

.subheadings{
    font-size: 32px;
    text-align: center;
    flex: 1 1 100%;
    padding-bottom: 2%;

    text-transform: capitalize;
}

#img2{
    background-image: url("https://images.pexels.com/photos/18069157/pexels-photo-18069157.png");
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin: 0 5%;

    /* flex: 1 3 30%; */
}

.p_about{
    flex: 2 1 30%;
    text-align: justify;
    padding: 5% 0;
    
}

.p_about::first-letter{
    font-size: 2em;
}

/* ------------------------------------------------------ */

#skills{
    flex-direction: column;
}

.h_skills{
    font-weight: 300;
    font-size: 14px;
}

.bar{
    /* border: 1px solid rgb(185, 57, 57); */
    background-color: white;
    height: 16px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.fill{
    position: relative;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(185, 57, 57);
}

#html{
        width: 90%;
}

#css{
        width: 75%;
}

#js{
        width: 10%;
}

#rd{
    width: 50%;
}

/* ------------------------------------------------------ */

#services{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center ;
    gap: 2%;
}

.b_services{
    flex: 1 1 30%;
    padding: 30px 30px;
    margin: 5% auto;
    
    /* border: 1px solid rgb(185, 57, 57); */
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;
    /* line-height: 0.9; */
}

.p_services{
    line-height: 1;
    height: 50px;
}

/* ------------------------------------------------------ */

#portfolio{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center ;
    gap: 2%;
    
}

.b_port{
    flex: 1 1 30%;
    padding: 30px 30px;
    margin: 5% auto;
    
    /* border: 1px solid rgb(185, 57, 57); */
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;
    /* line-height: 0.9; */

    /* display: flex;
    flex-direction: column;; */
}

.projectimg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    flex: 1 1 100%;
}

/* ------------------------------------------------------ */

#testi
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center ;
    gap: 15px;

    flex-direction: column;

    /* padding: 5% 30%; */
}

.t_box{
    padding: 8px 30px;
    flex: 1 1 100%;
    width: 50%;

    border-left: 4px solid rgb(185, 57, 57);
    background-color: white;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;
    /* line-height: 0.9; */
    height: 10px;
}

/* ------------------------------------------------------ */

#contact
{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center ;   

    flex-direction: column;
}

.c_box{
    text-transform: capitalize;

    display: flex;
    flex-direction: column;
    gap: 10px;

    flex: 1 1 100%;
    padding: 30px 30px;
    width: 50%; 

    border-radius: 10px;
    border-width: 1px;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(155, 155, 155) ;
    /* line-height: 0.9; */
    height: 10px;
}

.c_input{
    border-radius: 4px;
    border: 1px solid rgb(186, 186, 186);
    padding-left:10px ;
    width: 100%;
    height: 30px;
}

#send{
    background-color: rgb(185, 57, 57);
    color: white;
    border-radius: 15px;
    width: 120px;
    padding: 0 10px;
}

#msg{
    height: 100px;
    border-radius: 4px;
    padding: 10px 10px;
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    scroll-behavior: auto;
}

/* ------------------------------------------------------ */

footer{
    background-color: black;
    height: 80px;

    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center ;  

    text-align: center;

    /* font-size: 10px; */

    color: white;
}

#cr{
    flex: 1 1 100%
}

.or{
    margin: 0 10px;
}

/* ------------------------------------------------------ */